.nav {
  background-color: rgba(233, 233, 233, 1);
  height: 70px;
  position: fixed;
  padding-right: 40px;
  width: 100%;
  z-index: 1;
  border-bottom: 1px rgba(0, 0, 0, 0.5);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0 20px;
}
